@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
  margin: 0px;
  background-color: #fff;
}
.topb{
  background-color: rgba(0, 0, 0, .9);
  width: 100vw;
  height: 120px;
  box-shadow: 0px 0px 6px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont{
  width: 80vw;
  display: flex;
  align-items: center;
}
.subcont{
  width: 120px;
  height: 120px;
}
.title{
  font-size: 2em;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  opacity: 1;
  color: #fff;
  text-shadow: 0 14px 34px -10px rgba(0, 0, 0, .8), 0 4px 20px 0px rgba(0, 0, 0, .3), 0 8px 10px -5px rgba(0, 0, 0, .3);
}
.subtitle{
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}
