@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@media screen and (max-width: 767px) {
  .ocultar {
    display:none;
  }
}
@media screen and (min-width: 768px) {
  .ocultar1 {
    display:none;
  }
}
body {
  margin: 0px;
  background-color: #fff;
}
.topb{
  background-color: rgba(0, 0, 0, .9);
  width: 100vw;
  box-shadow: 0px 0px 6px 2px black;
}
.logo{
  height: 100%;
}
.title{
  font-size: 1.9em;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  opacity: 1;
  color: #fff;
  text-shadow: 0 14px 34px -10px rgba(0, 0, 0, .8), 0 4px 20px 0px rgba(0, 0, 0, .3), 0 8px 10px -5px rgba(0, 0, 0, .3);
}
.subtitle{
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}
.search-input{
  width: 300px;
}
.w-100{
  width: 100%;
}
.search-btn{
  display: flex;
  width: 25px;
  height: 25px;
  background-color: #78080e;
  justify-content: center;
  align-items: center;
}
.search-input{
  font-size: .7em;
}
.search-btn:hover{
  background-color: #ba2025;
}
.search-icon{
  font-size: .9em;
  color: #FFF;
}
.icon{
  font-size: 1em;
  color: #FFF;
}
